<p-orderList [value]="posts" [metaKeySelection]="true" header="Posts">
    <ng-template let-post pTemplate="post">
            <span>{{post.body}}</span>
            <div class="action-btns">
                <p-button (click)="viewComments.emit(post.id)" size="small" label="Comments"></p-button>
                <p-button (click)="editPost(post.id)" size="small" label="Edit"></p-button>
                <p-button (click)="editPost(post.id)" pButtonLG size="small" styleClass="p-button-danger" label="Delete"></p-button>
            </div>
    </ng-template>
</p-orderList>
