<div class="container">
    <h3 class="title">{{mode}}</h3>
    <form [formGroup]="postForm" (ngSubmit)="postSubmit()">
        <div class="post-form">
            <div class="form-field">
                <label for="username">Title</label>
                <input type="text" pInputText id="title" aria-describedby="title" formControlName="title" />
            </div>
            <div class="form-field">
                <label for="description">Description</label>
                <textarea pInputTextarea id="description" aria-describedby="description" formControlName="body"></textarea>
            </div>
            <div class="form-field action-btns">
                <p-button type="submit" label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" (click)="toListPost()" icon="pi pi-times" severity="danger"></p-button>
            </div>
        </div>
    </form>
</div>
