<p-card [header]="mode">
    <form [formGroup]="postForm" (ngSubmit)="postSubmit()">
        <label for="title">Title</label>
        <input type="text" id="title" pInputText formControlName="title">
        <label for="description">Description</label>
        <textarea pInputTextarea id="description" formControlName="body"></textarea>
        <ng-template pTemplate="footer">
            <p-button type="submit" label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times"></p-button>
        </ng-template>
    </form>
</p-card>
